<div class="row justify-content-center">


  {{checkUserInfo()}}
  <div *ngIf="!authService.isUserEmailLoggedIn">
    <div style="width: 350px;" *ngIf="isNewUser">

      <p *ngIf="errorMessage.length > 0" class="text-danger">
        {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
        {{error.message}}</p>

      <form (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
      </form>

      <p class="text-primary mt-3">Already have an Account? <button class="btn btn-outline-info" (click)="changeForm()">Log In</button></p>
    </div>

    <div style="width: 350px;" *ngIf="!isNewUser">

      <p *ngIf="errorMessage.length > 0" class="text-danger">
        {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
        {{error.message}}</p>

      <form (ngSubmit)="onLoginEmail()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
        </div>

        <button type="submit" class="btn btn-success">Log In</button>
      </form>
      <p class="text-primary mt-3">Not have any Account yet? <button class="btn btn-outline-info" (click)="changeForm()">Register</button></p>

      <a *ngIf="!resetPassword && isValidMailFormat(email)" class="text-danger" (click)="sendResetEmail()">Reset
        Password for {{email}}</a>
      <p *ngIf="resetPassword" class="text-success">Check your email to reset password!</p>

    </div>
  </div>
</div>
